<div class="container-fluid top-padding">
  <div class="row" [hidden]="!assesdetails">
    <fieldset class="assessDetailsFieldSet">
      <legend class="legendStyle ">Assessment Details</legend>
      <table class="col-md-12">
        <tr>
          <td>
            <div  class="pull-left col-xs-12 col-sm-6 col-md-6">
              <table class="col-xs-12  col-md-12 ">
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Course</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="assessment.selectedCourse" (ngModelChange)="CourseChanged()" class="select-box">
                      <option [value]="course" *ngFor="let course of courseList"  >{{course}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Grade</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="assessment.selectedGrade" (ngModelChange)="gradeChanged()" class="select-box">
                      <option [value]="gradeList" *ngFor="let gradeList of gradeList"  >{{gradeList}}</option>

                    </select>
                  </td>
                </tr>
                <tr>
                  <td  class="left-sideBox col-xs-5 col-md-4">Assessment Name</td>
                  <td class="right-sideBox">
                    <input type="text" class="input-border" [(ngModel)]="assessmentName"  placeholder="Enter Assessment Name" >
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4" >Pin Required</td>
                  <td class="right-sideBox">
                    <input class="assessCheck" (ngModelChange)="onchangeToHideQuesFiled()" [(ngModel)]="assessment.pinRequired" type="checkbox"/><span class="assessCheckSpan"><label class="cutom-label" for="no">Yes</label></span>
                  </td>
                </tr>
                <!-- <tr >
                  <td class="left-sideBox col-xs-5 col-md-4">Target</td>
                  <td class="right-sideBox">
                    <select class="select-box">
                      <option ng-if="noSchools" >Schools not available</option>
                      <option value="">All</option>
                    </select>
                  </td>
                </tr> -->


              </table>
            </div>
            <div  class="pull-left col-xs-12 col-sm-6 col-md-6 align-top">
              <table class=" col-xs-12 col-md-12 " >
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Start Date</td>
                  <td class="right-sideBox">
                    <input  type="text" style="width: 91%"  class="input-border datepicker" id="datepickerStart">
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">End Date</td>
                  <td class="right-sideBox">
                    <input  type="text" style="width: 91%" class="input-border datepicker1" id="datepickerEnd" >
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Start Time</td>
                  <td class="right-sideBox">
                    <input type="text" class="input-border"  placeholder="Select Time" id="startTime">
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">End Time</td>
                  <td class="right-sideBox">
                    <input  type="text" class="input-border" placeholder="Select Time" id="endTime" />
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Type</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="assessment.testType" (ngModelChange)="onchangeToHideQuesFiled()" class="select-box">
                      <option value="formal">Formal</option>
                      <option value="practice">Practice</option>
                    </select>
                  </td>
                </tr>

                <tr >
                  <td class="left-sideBox col-xs-5 col-md-4" >Retest</td>
                  <td class="right-sideBox">
                    <input class="assessCheck" (ngModelChange)="onchangeToHideQuesFiled()" [(ngModel)]="assessment.retest" type="checkbox" /><span class="assessCheckSpan"><label class="cutom-label" for="no">Yes</label></span>
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4" >Show Result</td>
                  <td class="right-sideBox">
                    <input class="assessCheck" (ngModelChange)="onchangeToHideQuesFiled()" [(ngModel)]="assessment.showResult" type="checkbox"/><span class="assessCheckSpan"><label class="cutom-label"  for="no">Yes</label></span>
                  </td>
                </tr>

              </table>
            </div>
          </td>
        </tr>
      </table>
    </fieldset>
  </div >

  <div class="row" *ngIf="filterSection">
    <fieldset>
      <legend class="legendStyle ">Filter Selection</legend>
      <table class="col-md-12">
        <tr>
          <td>
            <div  class="pull-left col-xs-12 col-sm-6 col-md-6">
              <table class="col-xs-12  col-md-12 ">
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Assessment</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="assessment.assessmentType" (ngModelChange)="onchangeToHideQuesFiled()" class="select-box">
                      <option value="selectedQ"  >Selected Question</option>
                      <option value="randomQ"  >Random Question</option>
                    </select>
                  </td>
                </tr>
                <tr *ngIf="assessment.assessmentType !== 'selectedQ'">
                  <td class="left-sideBox col-xs-5 col-md-4">No. of questions</td>
                  <td class="right-sideBox">
                    <input type="number" value="3"  class="no-of-ques" min="3" [(ngModel)]="qLimit" (input)="onLimitChange($event.target.value)">
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Strands</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="strands" (ngModelChange)="strandChanged()" class="select-box">
                      <option value="" >All</option>
                      <option [value]="strand" *ngFor="let strand of strandsArry"  >{{strand}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td  class="left-sideBox col-xs-5 col-md-4">Expectations</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="generalExp" class="select-box">
                      <option value="" >All</option>
                      <option [value]="generalExp" *ngFor="let generalExp of generalExpArry"  >{{generalExp}}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div  class="pull-left col-xs-12 col-sm-6 col-md-6 align-top">
              <table class=" col-xs-12 col-md-12 " >
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Library</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="assessment.quesLib" (ngModelChange)="onchangeToHideQuesFiled()" class="select-box">
                      <option value="private">Private</option>
                      <option value="public">Public</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4">Type</td>
                  <td class="right-sideBox">
                    <select [(ngModel)]="assessment.quesType" (ngModelChange)="onchangeToHideQuesFiled()" class="select-box">
                      <option value="">All</option>
                      <option value="multi">Multiple Choice</option>
                      <option value="text"> Text Input</option>
                      <option value="open">Open Response</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="left-sideBox col-xs-5 col-md-4" >Include Manipulatives</td>
                  <td class="right-sideBox">
                    <input [(ngModel)]="assessment.manipulatives" (ngModelChange)="onchangeToHideQuesFiled()" class="assessCheck" type="checkbox"/><span class="assessCheckSpan"><label class="cutom-label" for="no">Yes</label></span>
                  </td>
                </tr>

              </table>
            </div>
          </td>
        </tr>
      </table>
      <div *ngIf="AssessNameIsEmpty" class="assessNameErr">
        <span >{{assessNameValidation}}</span>

      </div>
      <div>
        <button (click)="showQuestionList()" class="btn btn-default pull-right list-btn btn-lg">List</button>
      </div>
    </fieldset>
  </div>
  <span >{{noQuesAvailable}}</span>

  <div class="row" *ngIf="displayQuestionList" >
    <fieldset>
      <legend class="legendStyle ">Question Selections</legend>
      <div class="question-tab">
        <table >
          <tr *ngFor = "let question of assessQuesList">
            <td class="leftBox3" *ngIf="assessment.assessmentType == 'selectedQ'">
              <input type="checkbox" (click) = "selectedQuestion(question)" [(ngModel)]="question.checked">
            </td>
            <td class="leftLabels" >{{question.questionID}}
            </td>
            <!--<td class="middleBox3">{{question.type}}</td>-->
            <td class="middleBox3 cursor" *ngIf = "question.type == 'text'">Text Input</td>
            <td class="middleBox3 cursor"  *ngIf = "question.type == 'multi'">Multiple Choice</td>
            <td class="middleBox3 cursor" *ngIf = "question.type == 'open'">Open Response</td>
            <td class="rightBox3 cursor">{{question.line1}}</td>
            <td class="manipulative-box"><span ></span></td>
          </tr>
        </table>
      </div>
      <div  class="QuesSelecvalidation">
        <span>{{quesSelecValidation}}</span>
      </div>
      <div class="AssignBtns">
        <button class="btn btn-default pull-right list-btn btn-lg" (click)="assignAssessment()">Assign Assessment</button>
        <button class="btn btn-default pull-right list-btn btn-lg"[disabled]="totalpageCount == 1 || (totalpageCount == page)"  (click)="next()">Next</button>
        <button class="btn btn-default pull-right list-btn btn-lg" [disabled]="page==1"  (click)="previous()" >Previous</button>
      </div>

      <p class="pageNo">Page {{page}} of {{totalpageCount}}</p>
    </fieldset>
  </div>


  <div *ngIf="DisplayConfirmDetails">
    <div class="row" >
      <fieldset>
        <legend class="legendStyle ">Confirm Assessment Details</legend>
        <table class="col-md-12">
          <tr>
            <td >
              <div class=" col-xs-12 col-sm-6 col-md-6">
                <table class=" col-xs-12 col-md-12 ">
                  <tr>
                    <td class="left-sideBox col-xs-5 col-md-4">Course</td>
                    <td class="right-sideBox notAllow" >
                      <input  type="text" [(ngModel)]="assessment.selectedCourse"  class="notAllow select-role custom-form" readonly>
                    </td>
                  </tr>
                  <tr>
                    <td class="left-sideBox col-xs-5 col-md-4">Grade</td>
                    <td class="right-sideBox notAllow">
                      <input  type="text" [(ngModel)]="assessment.selectedGrade"  class="notAllow select-role custom-form" readonly>
                    </td>
                  </tr>
                  <tr>
                    <td class="left-sideBox  col-xs-5 col-md-4">Assessment Name</td>
                    <td class="right-sideBox notAllow">
                      <input  type="text" [(ngModel)]="assessmentName"  class="notAllow select-role custom-form" readonly>
                    </td>
                  </tr>
                </table>
              </div>

              <div class=" col-xs-12 col-sm-6 col-md-6 align-top">
                <table class=" col-xs-12 col-md-12 ">
                  <tr>
                    <td class="left-sideBox  col-xs-5 col-md-4">Start Date</td>
                    <td class="right-sideBox notAllow">
                      <input  type="text" [(ngModel)]="startDate" class="notAllow select-role custom-form" readonly>
                    </td>
                  </tr>
                  <tr>
                    <td class="left-sideBox  col-xs-5 col-md-4">End Date</td>
                    <td class="right-sideBox notAllow">
                      <input  type="text" [(ngModel)]="endDate"  class="notAllow select-role custom-form" readonly>
                    </td>
                  </tr>
                  <tr *ngIf="start_Time">
                    <!--ng-model="start_time"-->
                    <td class="left-sideBox  col-xs-5 col-md-4">Start Time</td>
                    <td class="right-sideBox notAllow">
                      <input type="text" [(ngModel)]="start_Time" class="notAllow custom-form" readonly/>
                    </td>
                  </tr>
                  <tr *ngIf="end_Time">
                    <td class="left-sideBox  col-xs-5 col-md-4" >End Time</td>
                    <td class="right-sideBox notAllow">
                      <!--ng-model="end_time"-->
                      <input type="text" [(ngModel)]="end_Time" class="notAllow custom-form"   readonly/>
                    </td>
                  </tr>
                  <tr *ngIf="assessment.pinRequired">
                    <td  class="left-sideBox  col-xs-5 col-md-4">PIN</td>
                    <td class="right-sideBox notAllow">
                      <input type="text"  class="notAllow select-role custom-form" [(ngModel)]="random" readonly>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>

      </fieldset>
    </div>

    <div class="row">
      <p  class="assess-text"> Unselect Questions for Removal:</p>
      <div >
        <div  *ngFor="let checkedQuestions of getObjectinArray(checkedQuestions); "  [ngStyle] = "{'background-color':color[checkedQuestions.name].color}" class="col-xs-12 col-lg-12 asst-block"  >
          <div>
            <div class="assm-strand-title">{{checkedQuestions.name}}</div>
            <div class=" col-xs-12 col-sm-6 col-lg-6 asst-mainblock" *ngFor="let checkedQuestions of checkedQuestions.data; ">
              <div class="asst-block1"> <input class="asst-checkbox" type="checkbox"  [(ngModel)]="checkedQuestions.checked" (click)=deselectedQues(checkedQuestions)></div>
              <div class="col-xs-5 col-lg-2 asst-block2 cursor-pointer" >{{checkedQuestions.questionID}}</div>
              <div class="col-xs-6 col-lg-3 asst-block3 " >{{checkedQuestions.line1}}</div>
            </div>
          </div>
        </div>

      </div>
      <div class="notify-mess-align">
        <span class="assessmentSaveSucc">{{assessmentSaveSucc}}</span>
        <span class="assessmentSaveFail">{{assessmentSaveFail}}</span>
      </div>
      <div>
        <button (click)="saveAssessment()" class="btn btn-default pull-right list-btn btn-lg" >Save</button>
        <button (click)="assessmentBack()" class="btn btn-default pull-right list-btn btn-lg" >Back</button>
        <button (click)="assessmentCancel()" class="btn btn-default pull-right list-btn btn-lg">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!--<div id="dialog-modal-ass" title="Preview Question">-->
<!--<div>-->
<!--<div >-->
<!--<p >line 1</p>-->
<!--<p >line 2</p>-->
<!--</div>-->

<!--<div>-->
<!--<img style="display:block;  margin-right:auto;"  />-->
<!--</div>-->

<!--<div >-->
<!--<p >Line 3</p>-->
<!--</div>-->

<!--<div>-->
<!--<img  />-->
<!--</div>-->

<!--<div >-->
<!--<p >Line 4</p>-->
<!--</div>-->

<!--<div>-->
<!--<img style="display:block;  margin-right:auto;"  />-->
<!--</div>-->

<!--<div >-->
<!--<p >Line 5</p>-->

<!--<p >Line 6</p>-->
<!--</div>-->

<!---->


<!--</div>-->
<!--<div ng-if="question1.board.correctanswer">-->
<!--<p style="font-weight: bold" class="padding-bottom-look">Correct Answer : {{question1.board.correctanswer }} </p>-->
<!--<img style="display:block;  margin-right:auto;" class="neoansimg" ngf-src="question1.board.correctanswerimage | imagefilter" />-->
<!--</div>-->
<!--</div>-->


