<div class="container-fluid ">
	<div class="row">
		<div class="col-sm-12 col-lg-7 col-md-7 col-xs-12">
			<fieldset>
            <legend class="legendStyle" align="center">Assessments</legend>
            <div class="assessment_alignment ">
               <div class="col-xs-12 col-md-6">
				<div class="panel panel-default field_block_asses_practice placecard_container">
					<div>
				   Assessment1:<br>2018-04-01<br>class 1900
					</div>
				</div>
			</div>
			 <div class="col-xs-12 col-md-6">
				<div class="panel panel-default field_block_asses_practice placecard_container">
					<div>
				   Assessment 2:<br>2018-04-05<br>class 1950
					</div>
				</div>
			</div>
            </div>


        </fieldset>
		</div>
		  <div class="col-sm-12 col-lg-5 col-md-5 col-xs-12"><div class="datepicker" style="margin-top: 10px;"></div><div class="datepicker1" style="margin-top: 30px;"></div></div>   
	</div>
</div>
