<div  class="logo-class">
  <img src="assets/img/logo.png">
  <!--
<div class="container">
    <div class="card card-login mx-auto mt-5" style="background-color: #d3d3d3">
      <div class="card-header" align="center" style="color: #000;
    font-size: 18px;
    margin: 0px;font-weight: bold;">Please Sign In</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
          </div>
          <a class="btn btn-block signin-button" (click)="redirect()">Sign In</a>
        </form>

      </div>
    </div>
  </div> -->
</div>
<div class="container">
  <div class="row vertical-offset-100" style="margin-top: 50px;">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default login-panel">
        <h3 class="signin">Please Sign In</h3>
        <div class="panel-body">
          <form novalidate [formGroup]="loginForm" (ngSubmit)="LoginFormSubmit()" >
            <div class="form-group">
              <input type="email" class="form-control" id="userName" (focus)="ifNoInput=false" (focusout)="ifNoInput=true"   placeholder="Email or UserName" formControlName="userID" required>
              <!--  <pre>valid:{{loginForm.get('userID').valid}}</pre>
              <pre>toucher:{{loginForm.get('userID').touched}}</pre> -->
              <!--<div  class="alert alert-danger"> Username is required.</div>-->
            </div>
            <div class="form-group">
              <input type="password" (focus)="ifNoInput=false" (focusout)="ifNoInput=true" class="form-control" id="password" placeholder="Password" formControlName="password" required>

            </div>
            <button (focus)="ifNoInput=false" class="btn btn-lg btn-block loginBtn" type="submit" >
              <div class="glyphicon-ring"><span class="glyphicon glyphicon-ok" style="top: 4px;"></span></div>Sign In</button>
            <!-- <pre>{{loginForm.value | json}}</pre> -->
          </form>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="ifNoInput" class="loginNotifyMess">{{message}}</div>
  <div  class="logging_Mess">{{Login_message}}</div>
</div>
