<br>

<div class="container-fluid  contanerBorder " style="border: 1px solid #000;">
        <h1>Primary Division</h1>
        <div clss="row">
            <div class="col-md-2 testTakeBlock">
                <h3 class="testTakeGrade">Grade</h3>
                <h1 class="testTakeClass">3</h1>
            </div>
            <div class="col-md-10 testTakeCourse">
                <h1 class="testTakeCourseText"> Math</h1>
            </div>
          </div>
            <div clss="row">
            <table class="col-md-8 col-sm-8 col-xs-8">
                <tbody><tr>
                    <td>
                        <h3 class="assesssmentCourse"> Assessment of Math</h3>
                        <div class="col-md-6 col-sm-8 col-xs-12 sm-col-increasor">
                            <table class="col-xs-12">
                                <tbody><tr>
                                    <td class="detailsPadding">OEN Number:</td>
                                    <td class="detailsPadding">
                                        00012
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailsPadding">First Name:</td>
                                    <td class="detailsPadding">
                                        Priya
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailsPadding">Last Name: </td>
                                    <td class="detailsPadding">
                                        Dharshini.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailsPadding1 detalsPadding">
                                        <button class="btn btn-default continuebtn" (click)="neotakes()">Continue</button>
                                    </td>
                                    <td class="detailsPadding1 detalsPadding">
                                        <button class="btn btn-default cancelBtn" (click)="goBack()">Cancel</button>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </div>

        <div class="imageMargin col-xs-12" style="margin-top: 25px;">
            <img src="assets/img/logo.png">
        </div>
    </div>
